.product {
    display: flex;
    flex-direction: column;

    &__block1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 50px;
        justify-content: space-around;
        align-items: center;

        &__image1 {
            justify-self: center;
            margin: 2rem;
            background-color: #F4F7FA;
            border-radius: 30px;

            & img {
                height: 536px;
                box-shadow: 0 20px 20px 0 rgb(0 0 0 / 15%);
                border-radius: 30px;
            }
        }


    &__content1 {
        display: flex;
        flex-direction: column;
        max-width: 920px;

        & h2 {
            font-size: 45px;
            line-height: 1;

            & + h4 {

                max-width: 23em;
            }
        }

        &__list1 {
            margin: 3rem;
            padding: 0;
            list-style: none;
            font-family: 'Gotham Pro L', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 1.125rem;
            line-height: 1.5;
            color: #6A7B8E;
        }

    }
}

    &__block2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 50px;
        justify-content: space-around;
        align-items: center;

    &__content2 {
        display: flex;
        flex-direction: column;
        max-width: 700px;

        & h3 {
            margin: 0 3rem;
        }


        & h4 {
            //margin: 3rem;
        }

        &__list2 {
            margin: 1rem 3rem;
            padding: 0;
            list-style: none;
            font-family: 'Gotham Pro L', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 1.125rem;
            line-height: 1.5;
            color: #6A7B8E;
        }
    }

        &__image2 {
            justify-self: center;
            margin: 2rem;
            background-color: #F4F7FA;
            border-radius: 30px;

            & img {
                height: 536px;
                box-shadow: 0 20px 20px 0 rgb(0 0 0 / 15%);
                border-radius: 30px;
            }
        }
}

    &__block3 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 50px;
        justify-content: space-around;
        align-items: center;

    &__content3 {
       display: flex;
        flex-direction: column;
        max-width: 700px;

        & h3 {
           margin: 0 3rem;
        }

        &__list3 {
            margin: 1rem 3rem;
            padding: 0;
            list-style: none;
            font-family: 'Gotham Pro L', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 1.125rem;
            line-height: 1.5;
            color: #6A7B8E;
        }

    }
    &__image3 {
        justify-self: center;
        margin: 2rem;
        background-color: #F4F7FA;
        border-radius: 30px;

        & img {
            height: 536px;
            box-shadow: 0 20px 20px 0 rgb(0 0 0 / 15%);
            border-radius: 30px;
        }
    }


}

    &__block4{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 50px;
        justify-content: space-around;
        align-items: center;

    &__content4 {
        display: flex;
        flex-direction: column;
        max-width: 700px;

        & h3 {
            margin: 0 3rem;

        }

        &__list4 {
            margin: 1rem 3rem;
            padding: 0;
            list-style: none;
            font-family: 'Gotham Pro L', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 1.125rem;
            line-height: 1.5;
            color: #6A7B8E;
        }
    }
        &__image4 {
            justify-self: center;
            margin: 2rem;
            background-color: #F4F7FA;
            border-radius: 30px;

            & img {
                height: 536px;
                box-shadow: 0 20px 20px 0 rgb(0 0 0 / 15%);
                border-radius: 30px;
            }
        }
    }
}