.btn {
    padding: 8px 18px 8px 16px;
    font-family: 'Gotham Pro L';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: #6A7B8E;
    background: transparent;
    min-width: 7.4em;
    max-width: 7.4em;
    border: 1px solid #6A7B8E;
    border-radius: 5px;
}