.main {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;



    &__block1 {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;


        &__lines {

            display: flex;
            align-items: center;


            &__group1 {
                display: flex;
                flex-direction: column;
                margin-top: 50px;


                & h5 {
                    margin: 0;
                    color: #3C3C3C;
                    width: 747px;
                    height: 61px;
                    font-family: 'Gotham Pro', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 60px;
                    line-height: 100%;
                    flex: none;
                    order: 0;
                    flex-grow: 0;


                }


                &__list1 {
                    padding: 0;
                    list-style-type: none;
                    display: flex;
                    margin: 55px 0 0 0;
                    justify-content: space-between;
                    font-family: 'Gotham Pro', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 2rem;
                    line-height: 100%;
                    text-align: center;
                    color: #3C3C3C;
                }

                &__list2 {
                    padding: 0;
                    list-style-type: none;
                    display: flex;
                    margin: 40px 0 0 0;
                    justify-content: space-between;
                    font-family: 'Gotham Pro', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 100%;
                    text-align: center;
                    color: #3C3C3C;
                }

                &__list3 {
                    padding: 0;
                    list-style-type: none;
                    display: flex;
                    margin: 38px 0 0 0;
                    justify-content: space-between;
                    font-family: 'Gotham Pro', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.2rem;
                    line-height: 100%;
                    text-align: center;
                    color: #3C3C3C;
                }

                &__list4 {
                    padding: 0;
                    list-style-type: none;
                    display: flex;
                    margin: 55px 0 0 0;
                    justify-content: space-between;
                    font-family: 'Gotham Pro', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.2rem;
                    line-height: 100%;
                    text-align: center;
                    color: #3C3C3C;
                }
            }
        }
            &__group2 {
                margin: 3rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 452px;
                height: 528px;
                background: #FFFFFF;
                box-shadow: 10px 14px 20px rgba(191, 192, 207, 0.16);
                border-radius: 20px;

                & h5 {
                    font-family: 'Gotham Pro', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 28px;
                    line-height: 100%;
                    letter-spacing: 0.002em;
                    color: #3C3C3C;

                }

            }

    }

    &__block2 {
        margin: 0 3vw;
        padding: 50px 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(477px, 1fr));
        grid-row-gap: 40px;
        justify-items: center;



        &__wrap {
            padding: 10px 45px;
            display: flex;
            flex-direction: column;
        }

            &__item {

                &--1 {
                    background: no-repeat center url('../../assets/img/main/1.jpg') ;
                    background-size: cover;
                    width:  480px;
                    height: 490px;
                }



                &--2 {
                    background: no-repeat center url('../../assets/img/main/2.jpg');
                    width: 480px;
                    height: 490px;
                }


                &--3 {
                    background: no-repeat center url('../../assets/img/main/3.jpg');
                    width: 480px;
                    height: 490px;
                }

                &--4 {
                    background: no-repeat center url('../../assets/img/main/4.jpg');
                    width: 480px;
                    height: 490px;
                }

                &--5 {
                    background: no-repeat center url('../../assets/img/main/5.jpg');
                    width: 480px;
                    height: 490px;

                }

                &--6 {
                    background: no-repeat center url('../../assets/img/main/6.jpg');
                    width: 480px;
                    height: 490px;
                }

                &--7 {
                    background: no-repeat center url('../../assets/img/main/7.jpg');
                    width: 480px;
                    height: 490px;
                }

                &--8 {
                    background: no-repeat center url('../../assets/img/main/8.jpg');
                    width: 480px;
                    height: 490px;
                }

                &__title {
                    margin-bottom: 1.25rem;
                    color: #FFFFFF;
                }


                &__list {
                    margin: 0;
                    padding: 0;
                    list-style: none;


                    & li{
                        font-family: 'Gotham Pro', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 150%;
                        font-feature-settings: 'pnum' on, 'lnum' on;
                        color: #FFFFFF;
                    }

                }
            }

    }

    &__block3 {

        display: flex;
        margin: 0 auto 200px auto;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;


        &__group3 {
            background: #FFFFFF no-repeat bottom left url("../../assets/img/main/build.svg");
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            min-height: 510px;
            box-shadow: 10px 14px 20px rgba(191, 192, 207, 0.16);
            border-radius: 20px;
            margin-bottom: 20px;
            max-width: 1416px;

                & h3 {
                    font-family: 'Gotham Pro', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 38px;
                    line-height: 100%;
                    color: #3C3C3C;
                }



            &__list {
                font-family: 'Gotham Pro', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 26px;
                line-height: 130%;
                max-width: 800px;

                & li {
                    color: #0F76E8;
                    margin-bottom: 26px;

                    & span {
                        color: #3C3C3C;
                    }
                }


            }
        }

        &__group4 {
            background: #FFFFFF no-repeat bottom left url("../../assets/img/main/body.svg");
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            min-height: 510px;
            box-shadow: 10px 14px 20px rgba(191, 192, 207, 0.16);
            border-radius: 20px;
            margin-bottom: 20px;
            max-width: 1416px;


            & h3 {
                font-family: 'Gotham Pro', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 38px;
                line-height: 100%;
                color: #3C3C3C;
            }

            &__list {
                font-family: 'Gotham Pro', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 26px;
                line-height: 130%;
                max-width: 800px;


                & li {
                    color: #0F76E8;
                    margin-bottom: 26px;

                    & span {
                        color: #3C3C3C;
                    }
                }


            }
        }
    }

    &__block4 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto 200px auto;

        &__content {
            display: flex;
            flex-direction: column;
            max-width: 900px;

            & h2 {
                font-family: 'Gotham Pro', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 50px;
                line-height: 100%;
                color: #3C3C3C;
            }

            & p {
                font-family: 'Gotham Pro', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 120%;
                color: #3C3C3C;
            }

            &__list {
                & li {
                    list-style: none;
                    font-family: 'Gotham Pro', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 150%;
                    font-feature-settings: 'pnum' on, 'lnum' on;
                    color: #3C3C3C;
                }
            }

        }


        &__image {
            justify-items: end;
            margin: 0 2vw 0 116px;
            & img {
                width: 476px;
                height: 536px;
                border-radius: 30px;
            }
        }
    }


    &__block5 {
        display: flex;
        flex-direction: column;
        margin: 0 auto 200px auto;

        & h2 {
            font-family: 'Gotham Pro', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 50px;
            line-height: 100%;
            color: #3C3C3C;

        }

        &__groups {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-around;


            &__group5,  &__group6, &__group7 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 40px;
                gap: 20px;
                width: 452px;
                height: 435px;
                background: #FFFFFF;
                box-shadow: 10px 14px 20px rgba(191, 192, 207, 0.16);
                border-radius: 20px;

                & h4 {
                    font-family: 'Gotham Pro', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 28px;
                    line-height: 100%;
                    color: #3C3C3C;

                }
                & p {
                    margin: 0;
                }
            }
        }
    }

    &__block6 {
        margin: 0 auto 200px auto;
        display: flex;
        flex-direction: column;
        & h3 {
            margin: 0 auto 40px 9rem;
            font-family: 'Gotham Pro', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 50px;
            line-height: 100%;
            color: #3C3C3C;
        }
        &__groups {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: space-around;

            &__group8 {
                width: 934px;
                height: 528px;
                padding: 40px;
                background: #FFFFFF;
                box-shadow: 10px 14px 20px rgba(191, 192, 207, 0.16);
                border-radius: 20px;


                & h5 {
                    margin: 28px 0 2px 0;
                    font-family: 'Gotham Pro', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 28px;
                    line-height: 100%;
                    letter-spacing: 0.002em;
                    color: #3C3C3C;
                }
                & p {
                    font-family: 'Gotham Pro', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 150%;
                    font-feature-settings: 'pnum' on, 'lnum' on;
                    margin: 2px 0 2px 0;

                }

            }
            &__group9 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0 30px;
                gap: 38px;
                width: 452px;
                height: 528px;
                background: #FFFFFF;
                box-shadow: 10px 14px 20px rgba(191, 192, 207, 0.16);
                border-radius: 20px;

                & h4{
                    margin: 3rem;
                    font-family: 'Gotham Pro', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 28px;
                    line-height: 100%;
                    color: #3C3C3C;
                }
            }
        }
    }
}

.form {
    max-width: 274px;
}

.after_list {
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #3C3C3C;


}








