.contact {
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70vh;

    &__block1 {
        display: flex;
         flex-wrap: wrap;

        &__group {
            width: 450px;
            display: flex;
            flex-direction: column;

            & h5 {
                margin: 0;
                font-family: 'Gotham Pro', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 50px;
                line-height: 100%;
                color: #6A7B8E;
            }

            & h6 {
                margin: 20px 0 15px 0;
                font-family: 'Gotham Pro', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 100%;
                color: #6A7B8E;
            }

            & p {
                margin: 5px 0 5px 0;
                font-family: 'Gotham Pro', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 100%;
                color: #6A7B8E;
            }
        }

        &__form {
            width: 350px;
            & h5 {
                font-family: 'Gotham Pro',sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 28px;
                line-height: 100%;
                 color: #6A7B8E;
            }
        }
    }
}

















